h1 {
  text-align: center;
  font-size:10vw;
  color: white;
}

h2 {
  text-align: center;
  font-size:8vw;
  color: white;
}

p {
 text-align: center;
 color: white;
}

html {
  background-color: black;
}
